.restaurant_page {
  position: relative;
  width: 100%;
  height: auto;
  background: #0b0e11;
}

/*     All restaurant     */
.restaurant_page .all_restaurant .fil_search_box {
  position: relative;
  width: 100%;
  height: 33px;
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.restaurant_page .all_restaurant .fil_box {
  position: relative;
  width: 420px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.restaurant_page .all_restaurant .fil_box a {
  position: relative;
  display: flex;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.restaurant_page .all_restaurant .fil_box a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.restaurant_page .all_restaurant .fil_box a::before,
.fil_box a::after {
  content: " ";
  position: absolute;
  width: 100%;
  left: 0;
}
.restaurant_page .all_restaurant .fil_box a::before {
  background-color: #d7b686;
  bottom: 0;
  height: 2px;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.restaurant_page .all_restaurant .fil_box a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #d7b686;
}

.restaurant_page .all_restaurant .fil_box a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.restaurant_page .all_restaurant .fil_box a:hover::after {
  transform: translate3d(0, 0, 0);
}
.restaurant_page .all_restaurant .fil_box a span {
  display: inline-block;
  transition: transform0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.restaurant_page .all_restaurant .fil_box a:hover span {
  transform: translate3d(-200%, 0, 0);
}
.restaurant_page .all_restaurant .fil_box a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  vertical-align: top;
}
.restaurant_page .all_restaurant .search_big_box {
  position: relative;
  width: 360px;
  height: 33px;

  display: flex;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.25);
  border-radius: 18.5px;
  box-sizing: border-box;
}
.restaurant_page .all_restaurant .search_form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.restaurant_page .all_restaurant .searchInput {
  position: relative;
  height: 29px;
  width: 255px;

  display: flex;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}
.restaurant_page .all_restaurant .button_search {
  position: relative;
  display: flex;
  height: 33px;
  width: 100px;

  border-radius: 18.5px;
  background: #f8be69;
}
.restaurant_page .all_restaurant .all_res_box {
  position: relative;
  width: 1305px;
  height: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.restaurant_page .all_restaurant .restaurant_box {
  margin-top: 13px;
  padding: 5px;
  width: 300px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 8px;
}
.restaurant_page .all_restaurant .restaurant_img {
  width: 280px;
  height: 330px;

  border-radius: 5px;
  background-size: cover;
}
.restaurant_page .all_restaurant .restaurant_desc {
  width: 280px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.restaurant_page .all_restaurant .restaurant_title_text {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #140342;
  text-transform: capitalize;
}
.restaurant_page .all_restaurant .restaurant_desc_text {
  margin-top: 6px;
  font-family: "??????";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #4f547b;
}
.restaurant_page .all_restaurant .bottom_box {
  position: relative;
  width: 100%;
  height: 168px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*  One Restaurant   */

.restaurant_page .single_restaurant {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #0b0e11;
}
.restaurant_page .single_restaurant {
  width: 100%;
  height: auto;
  display: flex;
  color: #0b0e11;
}
.restaurant_page .single_restaurant .avatar_big_box {
  height: auto;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant_page .single_restaurant .top_text {
  position: relative;
  height: 43px;
  width: 100%;
  margin-top: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.restaurant_page .single_restaurant .top_text p {
  color: #e3c08d;
  font-family: Dancing Script;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  margin-left: 380px;
  position: relative;
}
.restaurant_page .single_restaurant .single_search_big_box {
  align-items: center;
  background: #fffcfc;
  border: 1px solid #fff;
  border-radius: 18.5px;
  box-shadow: 0 4px 4px hsla(0, 0%, 84%, 0.25);
  box-sizing: border-box;
  display: flex;
  height: 33px;
  position: relative;
  width: 350px;
}
.restaurant_page .single_restaurant .single_search_form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.restaurant_page .single_restaurant .single_searchInput {
  border: none;
  border-radius: 10px 0 0 10px;
  color: #4f547b;
  display: flex;
  font-family: GT Walsheim Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 29px;
  line-height: 26px;

  position: relative;
  width: 250px;
}
.restaurant_page .single_restaurant .single_button_search {
  background: #f8be69;
  border-radius: 18.5px;
  display: flex;
  height: 33px;
  position: relative;
  width: 100px;
}
.restaurant_page .single_restaurant .prev_btn,
.single_restaurant .next_btn {
  align-items: center;
  display: flex;
  height: 147px;
  justify-content: center;
  width: 10%;
}
.restaurant_page .single_restaurant .restaurant_avatars_wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 147px;
  justify-content: space-between;
  overflow: hidden;
  width: 90%;
}
.restaurant_page
  .single_restaurant
  .restaurant_avatars_wrapper
  .restaurant_avatars {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 108px;
}
.restaurant_page .single_restaurant .restaurant_avatars img {
  border-radius: 50%;
  height: 108px;
  width: 108px;
}
.restaurant_page .single_restaurant .next_btn {
  align-items: center;
  display: flex;
  height: 147px;
  justify-content: center;
  width: 10%;
}
.restaurant_page .single_restaurant .prev_btn {
  align-items: center;
  display: flex;
  height: 147px;
  justify-content: center;
  width: 10%;
}
.single_restaurant .dish_filter_box {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.single_restaurant .dish_category_box {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 60px;
  width: 50px;
}
.single_restaurant .dish_category_box .dish_category_main {
  display: flex;
  flex-direction: row;
  justify-content: end;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.single_restaurant .dish_category_box .dish_category_main button {
  margin-right: 10px;
  min-width: auto;
}
.restaurant_page .single_restaurant .dish_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin-left: 20px;
  width: 100%;
  gap: 15px;
}

.restaurant_page .single_restaurant .dish_box {
  margin-top: 60px;
  margin-top: 26px;
  width: 273px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant_page .single_restaurant .dish_box .dish_img {
  width: 273px;
  height: 275px;
  position: relative;
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
}
.restaurant_page .single_restaurant .dish_img .dish_sale {
  margin-top: 43px;
  width: 83px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d1f4d9;
  box-shadow: 4px 6px 20px rgba(0 0 0 / 10%);
  border-radius: 0px 50px 50px 0px;
  font-family: "Poppins, san-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21;
  color: #c50a09;
}
.restaurant_page .single_restaurant .dish_box .dish_desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.restaurant_page .single_restaurant .dish_desc .dish_desc_text {
  margin-top: 15px;
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #e3c08d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.restaurant_page .single_restaurant .dish_img::before {
  opacity: 0;
  content: " ";
  border-radius: 0px 50px 0px 0px;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.restaurant_page .single_restaurant .dish_img:hover::before {
  border-radius: 0px 50px 0px 0px;
  opacity: 1;
}
.restaurant_page .single_restaurant .dish_img img {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.restaurant_page .single_restaurant .view_btn {
  position: absolute;
  padding: 20px;

  top: 217px;
  width: 64px;
  height: 46px;
  left: 105px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(198 0 255 / 66%);
  border: solid 2px #d7b686;
  border-radius: 10px;

  color: #ffffff;
  font-family: "Poppins,san-serif";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
}
.restaurant_page .single_restaurant .dish_img:hover .view_btn {
  opacity: 1;
}
.restaurant_page .single_restaurant .dish_img:hover .like_view_btn {
  opacity: 1;
}
.restaurant_page .single_restaurant .like_view_btn {
  position: absolute;
  top: 223px;
  padding: 5px;
  min-width: 40px;
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.restaurant_page .single_restaurant .member_reviews {
  display: flex;
  flex-direction: row;

  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
}
.restaurant_page .single_restaurant .review_for_restaurant {
  background-color: #0d1518;
  display: flex;
  height: auto;
  margin-top: 60px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.restaurant_page .single_restaurant .category_title {
  color: #e3c08d;
  font-family: Dancing Script;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}
.restaurant_page .single_restaurant .review_box {
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 16px rgba(242, 189, 87, 0.04);
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 40px;
  padding: 20px;
  width: 249px;
}

.restaurant_page .single_restaurant .review_img {
  border-radius: 37px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 110px;
  width: 110px;
}
.restaurant_page .single_restaurant .review_name {
  color: #08090d;
  font-family: "Commissioner";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-top: 10px;
}
.restaurant_page .single_restaurant .review_prof {
  color: #a1a1a1;
  font-family: "Commissioner";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.restaurant_page .single_restaurant .review_desc {
  color: #616164;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}
.restaurant_page .single_restaurant .member_reviews {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-top: 100px;
}
.restaurant_page .single_restaurant .category_title {
  color: #e3c08d;
  font-family: "Dancing Script";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}
.restaurant_page .single_restaurant .about_left {
  align-items: flex-end;
  background-position: 50%;
  background-size: cover;
  border-radius: 0 50px 0 0;
  display: flex;
  height: auto;
  width: 50%;
}
.restaurant_page .single_restaurant .about_left .about_left_desc {
  background: linear-gradient(0deg, #000, transparent 90.88%);
  display: flex;
  flex-direction: column;
  height: 329px;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
}
.restaurant_page .single_restaurant .about_right {
  display: flex;
  flex-direction: column;
  height: 480px;
  justify-content: space-between;
  margin-left: 50px;
  width: 50%;
}
.restaurant_page .single_restaurant .about_right_desc span {
  color: #fff;
  font-family: "Poppins,san-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.restaurant_page .single_restaurant .about_right_desc p {
  color: #d4d4d4;
  font-family: "Poppins,san-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}
.restaurant_page .single_restaurant .about_right .about_right_img {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqeew4hXYe5sDXLP4HcFUNXzhNmKTi2p8RETjIQVRNNlSF-qTs9dSqRbt48aOpZWe2TT0&usqp=CAU);
  background-position: 50%;
  background-size: cover;
  border-radius: 0 50px 0 0;
  display: flex;
  height: 140px;
  left: 763px;
  top: 3653px;
  width: 160px;
}
.restaurant_page .single_restaurant .about_right .about_right_desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
  padding-bottom: 5px;
  color: #ffffff;
}
.single_restaurant .css-1p7b7rs-MuiBadge-badge {
  position: absolute;
  top: 26%;
  right: 15%;
}
